.project_sections {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  min-height: 77vh;
  height: 100%;
}

.section {
  border: 1px dashed $mainColor;
  border-radius: 4px;
  padding: 20px;
  width: 100%;

  .section_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    // border-bottom: 1px solid #e4e4e4;
    h3 {
      font-size: clamp(20px, 2.5vw, 30px);
      font-weight: 500;
    }

    .buttons {
      display: flex;
      gap: 10px;

      button.section_control {
        min-width: 40px;
        height: 40px;
        border-radius: 4px;
        border: 1px solid $mainColor;
        font-size: 20px;
        color: $mainColor;
        display: flex;
        align-items: center;
        justify-content: center;

        &.layout_design {
          gap: 5px;
        }

        &.pi-eye {
          border-color: $dangerColor;
          color: $dangerColor;
        }

        &:hover {
          background: $mainColor;
          color: #fff;

          &.pi-eye {
            background: $dangerColor;
          }
        }
      }
    }
  }

  .section_content {
    display: flex;
    // gap: 10px;
    // justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    gap: 10px 0;
    .section_component {
      position: relative;
      min-height: 66px;
      border: 1px solid #ddd;
      border-radius: 8px;
      background: #f9f9f9;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      min-width: 80px;
      cursor: move;
      &.empty_placeholder {
        min-width: 200px;
        // border: 2px dashed #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 14px;
        background: linear-gradient(
          135deg,
          lighten($mainColor, 15%),
          darken($mainColor, 5%)
        ) !important;
        color: #fff !important;
      }

      .component_block {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 5px;
        padding-inline-end: 30px;
        overflow: hidden;
        .section_info {
          display: flex;
          align-items: center;
          gap: 8px;
          flex: 1;
          i {
            font-size: 20px;
          }

          span {
            font-size: 18px;
          }
        }
      }

      .component_buttons {
        display: flex;
        gap: 5px;
        justify-content: flex-end;
        align-items: center;
        overflow: hidden;
        @media (max-width: 200px) {
          small {
            display: none !important;
          }
        }
        small {
          margin-inline-end: auto;
          font-size: 10px;
          color: grey;
          text-wrap: nowrap;
        }
        button {
          background: #eee;
          border: none;
          padding: 3px 6px;
          border-radius: 4px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;

          i {
            font-size: 14px;
          }

          &:hover {
            background: #ccc;
          }
        }
      }

      .resize_handle {
        position: absolute;
        top: 0;
        right: 0;
        width: 5px;
        height: 100%;
        cursor: ew-resize;
        background: rgba(0, 0, 0, 0.1);
      }

      &:hover .section_button {
        width: 80px;
        opacity: 1;
      }
    }
  }

  &.add_section {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 16px;
    transition: 0.3s;

    i.pi {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: $mainColor;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      background: $mainColor;
      color: #fff;
    }
  }
}

.is-dragging {
  background: linear-gradient(
    135deg,
    lighten($mainColor, 15%),
    darken($mainColor, 5%)
  ) !important;
  color: #fff !important;
}
